<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Up2Bar</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/single-post.css" />
  </head>

  <body>
    {{! <div class="wrapper"> }}
    <header>
      <div>
        <h1>
          <a href="/">Up2Bar</a>
        </h1>
      </div>
      <div class="user-options">
        {{! space if helpers }}
        <a id="dashboard-link" href="/dashboard">2Nite's Best and Worst</a>
        <div>
            {{!-- {{#if loggedIn}} --}}
              <a id="logout" href="/">logout</button>
            {{!-- {{else}} --}}
              <a href="/login">login</a>
            {{!-- {{/if}} --}}
        </div>
      </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
      <h3>Please Drink and Comment responsibly®</h3>
    </footer>
    {{! </div> }}
    {{! }}
    <script src="/javascript/logout.js"></script>
  </body>

</html>