<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Up2Bar</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/single-post.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
  </head>

  <body>
    {{! <div class="wrapper"> }}
    <header>
      <div>
        <a id="homepage-link" href="/"><h1>Up2Bar</h1><img
            src="/images/logo.png"
          /></a>
      </div>
      <div class="user-options">
        {{! space if helpers }}
        <a id="dashboard-link" href="/dashboard">Dashboard</a>
        <div>
          {{#if loggedIn}}
            <a id="logout" href="/">Log out</a>
          {{else}}
            <a href="/login">Log in</a>
          {{/if}}
        </div>
      </div>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <h3>Please Drink and Comment responsibly®</h3>
    </footer>
    {{! </div> }}
    {{! }}
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>