<section>
    <h2>New post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post_content">content</label>
            <input id="post-content" name="post-content" />
        </div>
        <button type="submit" class="btn">Post</button>
    </form>
</section>
