
<div class="dashboard-main">
    <section class="container new-post">
        <h2>New post</h2>

        <form class="new-post-form">
            <div>
                <label for="post-title">Title</label>
                <input type="text" id="post-title" name="post-title" />
            </div>
            <div>
                <label for="post_content">content</label>
                <input id="post-content" name="post-content" />
            </div>
            <button type="submit" class="post-btn">Post</button>
        </form>
    </section>
    {{#if posts.length}}
    <section class="container" id="post-container">
        <h2>Your posts</h2>
            {{#each posts as |post|}}
                {{> post-info post}}
                <div class="post-options">
                    <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
                </div>
            {{/each}}
        </ol>
    </section>
    {{/if}}
</div>
<script src="/js/add-post.js"></script>