{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="commment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
{{/if}}

{{> comments post.commments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}